{erl_opts, [
	debug_info
	, {i, "include"}
	, {i, "./_build/default/lib/eGbh/include"}
	, {i, "./_build/default/lib/eMysql/include"}
	, {i, "./_build/default/lib/ePgdb/include"}
	
	% , recv_opt_info
	, nowarn_unused_function
	, nowarn_export_all
	, return
	, report

]}.
{deps, [
	{eMysql, ".*", {git, "https://github.com/ErlGameWorld/eMysql.git", {branch, "main"}}},
	{ePgdb, ".*", {git, "https://github.com/ErlGameWorld/ePgdb.git", {branch, "main"}}},
	{ePtDirty, ".*", {git, "https://github.com/ErlGameWorld/ePtDirty.git", {branch, "main"}}},
	{eGLock, ".*", {git, "https://github.com/ErlGameWorld/eGLock.git", {branch, "master"}}}

]}.

{shell, [
	%% {config, "config/sys.config"},
	{apps, [eCas]}
]}.

{profiles, [
	{test, [
		{erl_opts, [{d, 'TEST'}]},
		{extra_src_dirs, ["test/schema/mysql", "test/schema/postgresql"]}
	]}
]}.
